name: CI - Build & Update GitOps

on:
  push:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout app repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image
        run: |
          docker build -t swaroops2803/gitops-eks-app:${{ github.run_number }} .
          docker push swaroops2803/gitops-eks-app:${{ github.run_number }}

      - name: Checkout GitOps repo
        uses: actions/checkout@v4
        with:
          repository: keshavswaroop/gitops-eks-cd
          token: ${{ secrets.REPO_GITHUB_TOKEN }}
          path: apps

      - name: Update image tag
        run: |
          sed -i "s|image: swaroops2803/gitops-eks-app:.*|image: swaroops2803/gitops-eks-app:${{ github.run_number }}|" \
          gitops/apps/app/deployment.yaml

      - name: Commit and push changes
        run: |
          cd gitops
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add .
          git commit -m "Update image to ${{ github.run_number }}"
          git push
